<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />

		<title>Resto App</title>
	</head>
	<body>
		<nav>
			<div class="container">
				<h1 class="brand">Restop</h1>
			</div>
		</nav>

		<h1>Resto</h1>
		<p>Hallo coders! Anda berhasil menjalankan starter project.</p>
		<p>
			Jangan lupa untuk menggunakan salah satu gambar yang berada pada
			./images/heros sebagai background hero elemen
		</p>
		<img src="./images/heros/hero-image_1.jpg" width="450" alt="" />
		<img src="./images/heros/hero-image_2.jpg" width="450" alt="" />
		<img src="./images/heros/hero-image_3.jpg" width="450" alt="" />
		<img src="./images/heros/hero-image_4.jpg" width="450" alt="" />
	</body>
</html>
