<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Eatery App</title>

    <link rel="icon" href="./assets/favicon.ico" sizes="any" />
    <link rel="apple-touch-icon" href="./assets/apple-touch-icon.png" />

    <!-- <link rel="manifest" href="/manifest.webmanifest" /> -->
  </head>
  <body>
    <a class="skip-to-content" href="#main-content">Skip to Content</a>

    <header>
      <div class="container">
        <!-- <a class="brand">eatery</a> -->
        <a class="brand" href="/">
          <img src="./assets/images/rectangle.png" alt="Eatery" />
        </a>
        <button type="button" id="navbar-toggle">
          <i class="fa-solid fa-bars fa-xl"></i>
        </button>
        <div class="navbar-collapse"></div>
        <div class="navbar-container">
          <nav>
            <a class="nav-item" href="#">Home</a>
            <a class="nav-item" href="#/favorite">Favorite</a>
            <a class="nav-item" href="https://github.com/akmalluthfi"
              >About us</a
            >
          </nav>
        </div>
      </div>
    </header>

    <main id="main-content"></main>

    <footer>
      <i class="fa-regular fa-copyright"></i>
      <span id="year">2022</span>
      Eatery. All rights reserved.
    </footer>
  </body>
</html>
