<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Eatery App</title>

    <link rel="icon" href="./favicon.ico" sizes="any" />
    <link rel="apple-touch-icon" href="./apple-touch-icon.png" />

    <!-- <link rel="manifest" href="/manifest.webmanifest" /> -->
  </head>
  <body>
    <a class="skip-to-content" href="#main-content">Skip to Content</a>

    <header>
      <div class="container">
        <!-- <a class="brand">eatery</a> -->
        <a class="brand" href="/">
          <img src="./images/logo/rectangle.png" alt="Eatery" />
        </a>
        <button type="button" id="navbar-toggle">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            fill="currentColor"
            class="bi bi-list"
            viewBox="0 0 20 20"
          >
            <path
              fill-rule="evenodd"
              d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"
            />
          </svg>
        </button>
        <div class="navbar-collapse"></div>
        <div class="navbar-container">
          <nav>
            <a class="nav-item" href="#">Home</a>
            <a class="nav-item" href="#/favorite">Favorite</a>
            <a class="nav-item" href="https://github.com/akmalluthfi"
              >About us</a
            >
          </nav>
        </div>
      </div>
    </header>

    <main id="main-content">
      <article class="restaurant">
        <header></header>
      </article>
    </main>

    <footer>Copyright &copy; <span id="year">2022</span> - eatery App</footer>
  </body>
</html>
