@import url('./preflight.css');
@import url('./navbar.css');
@import url('./restaurant.css');
@import url('./restaurant-detail.css');

@import url('./fontawesome.css');
@import url('./solid.css');
@import url('./regular.css');

:root {
  --gray-01: rgb(241, 245, 249);
  --gray-02: rgb(52, 66, 86);
  --indigo-01: rgb(178, 183, 255);
  --indigo-02: rgb(86, 97, 179);
  --indigo-03: rgba(47, 54, 95);
  --indigo-04: rgb(25, 30, 56);
  --white: rgb(255, 255, 255);
}

* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  background-color: var(--gray-01);
  color: var(--gray-02);
}

.skip-to-content {
  position: absolute;
  z-index: 9999999;
  top: 8px;
  left: -145px;
  background-color: var(--gray-01);
  padding: 0.75rem;
  font-weight: bold;
}

.skip-to-content:focus {
  left: 8px;
}

.container {
  width: 100%;
  margin: auto;
}

main {
  min-height: calc(100vh - 120px);
  margin-top: 64px;
}

/* splash screen */
.load {
  width: 100%;
  height: calc(100vh - 120px);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--indigo-04);
}

.load img {
  width: 50%;
  animation: flash 2.5s infinite;
}

@keyframes flash {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}

/* end splash screen */

.loader-container {
  width: 5rem;
  height: 5rem;
  margin: 1rem auto;
}

.loader {
  margin: auto;
  border: 0.5rem solid var(--indigo-03);
  border-top: 0.5rem solid #eaf0f6;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  animation: spinner 3s linear infinite;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.hero-image {
  margin-bottom: 1.5rem;
}

.hero-image img {
  width: 100%;
  max-height: 512px;
  object-fit: cover;
  object-position: top;
}

footer {
  padding: 1rem;
  text-align: center;
  background-color: var(--indigo-03);
  color: var(--white);
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }

  header button {
    display: none;
  }

  .navbar-collapse {
    display: block;
    position: relative !important;
  }

  .navbar-container {
    display: block !important;
  }

  nav {
    flex-direction: row !important;
    transform: none !important;
    inset: inherit !important;
    position: relative !important;
    background-color: inherit !important;
    padding: 0 !important;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }

  .restaurant-list {
    grid-template-columns: repeat(2, 1fr) !important;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }

  .restaurant-list {
    grid-template-columns: repeat(3, 1fr) !important;
  }
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}
