@import url('./preflight.css');
@import url('./navbar.css');
@import url('./restaurant.css');
@import url('./restaurant-detail.css');

@import url('./fontawesome.css');
@import url('./solid.css');
@import url('./regular.css');

:root {
  --gray-01: rgb(241, 245, 249);
  --gray-02: rgb(51, 65, 85);
  --indigo-01: rgb(178, 183, 255);
  --indigo-02: rgb(86, 97, 179);
  --indigo-03: rgba(47, 54, 95);
  --indigo-04: rgb(25, 30, 56);
  --white: rgb(255, 255, 255);
  --yellow: #fbbf24;
  --orange: rgb(251, 146, 60);
  --muted: #a1a1aa;
  --shadow: 0 1px 3px 0 rgb(0 0 0 / 10%), 0 1px 2px 0 rgb(0 0 0 / 6%);
  --rounded: 0.375rem;
}

* {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', system-ui, Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
}

body {
  background-color: var(--gray-01);
  color: var(--gray-02);
}

.skip-to-content {
  position: absolute;
  z-index: 9999999;
  top: 8px;
  left: -145px;
  background-color: var(--gray-01);
  padding: 0.75rem;
  font-weight: bold;
}

.skip-to-content:focus {
  left: 8px;
}

.container {
  width: 100%;
  margin: auto;
  padding: 0 1rem;
}

#main-content {
  min-height: calc(100vh - 7.25rem);
  margin-top: 3.75rem;
  width: 100%;
}

.error {
  text-align: center;
  color: red;
  margin-top: 1rem;
  grid-column: span 3;
  display: block;
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: bold;
}

.error-page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 7.25rem);
  height: 100%;
}

.loader-container {
  text-align: center;
}

footer {
  padding: 1rem;
  text-align: center;
  background-color: var(--indigo-04);
  color: var(--white);
}

/* Navigation */
.navigation-title {
  display: inline-flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.navigation-title > a {
  background-color: white;
  padding: 10px 13.25px;
  border-radius: var(--rounded);
  box-shadow: var(--shadow);
}

.navigation-title > h1 {
  width: calc(100% - 2.75rem);
  text-align: center;
}

/* read more */
.read-more .content {
  overflow: hidden;
  max-height: 100px;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  /* number of lines to show */
  -webkit-box-orient: vertical;
}

.read-more .content.show {
  max-height: max-content;
  height: auto !important;
  display: block;
}

.read-more .toogle {
  font-weight: bold;
  cursor: pointer;
  text-decoration: underline;
  padding: 0.625rem 0;
  display: inline-block;
}

.read-more .toogle:hover {
  text-decoration: none;
}

/* helper */
.fa-star {
  color: var(--yellow);
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }

  header button {
    display: none;
  }

  .navbar-collapse {
    display: block;
    position: relative !important;
  }

  .navbar-container {
    display: block !important;
  }

  nav {
    flex-direction: row !important;
    transform: none !important;
    inset: inherit !important;
    position: relative !important;
    background-color: inherit !important;
    padding: 0 !important;
  }

  .restaurant-secondary-info .menus .menu-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }

  .restaurant-list {
    grid-template-columns: repeat(2, 1fr) !important;
  }

  .restaurant-secondary-info .menus .menu-list {
    grid-template-columns: repeat(3, 1fr);
  }

  .restaurant-card img {
    max-height: 11.5rem;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }

  .restaurant-detail {
    gap: 2rem;
    grid-template-columns: 1fr 1fr;
  }

  .restaurant-secondary-info .menus .menu-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }

  .restaurant-list {
    grid-template-columns: repeat(3, 1fr) !important;
  }

  .restaurant-card img {
    max-height: 12rem;
  }
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}
