.hero-image {
  width: 100%;
  max-height: 32rem;
  object-fit: cover;
  object-position: top;
  min-height: 16rem;
  margin-bottom: 4rem;
}

.restaurant-section .title {
  text-align: center;
  margin-bottom: 2rem;
}

.restaurant-list {
  margin-bottom: 3rem;
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}

.restaurant-card {
  border-radius: var(--rounded);
  background-color: var(--white);
  overflow: hidden;
  box-shadow: var(--shadow);
  display: block;
}

.restaurant-card img {
  width: 100%;
  min-height: 16rem;
  object-fit: cover;
  object-position: center;
}

.restaurant-card .body {
  padding: 1rem;
}

.restaurant-card .body .rating {
  color: var(--muted);
  margin-bottom: 0.5rem;
}

.restaurant-card .body .rating .divider {
  margin: 0 0.5rem;
}

.restaurant-card .body a {
  display: inline-block;
  padding: 0.5rem 0;
}

.restaurant-card .body p {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  /* number of lines to show */
  -webkit-box-orient: vertical;
}
